
*.bc

*.o

*.cmake

*.bin

*.out

*.log

*.check_cache

demo/demobuild/CMakeFiles/Makefile2

*.json

*.make

*.includecache

*.internal

*.marks

demo/demobuild/lib/callcounter-inst/Makefile

demo/demobuild/lib/callcounter-rt/Makefile

*.a

*.so

demo/demobuild/lib/Makefile

demo/demobuild/Makefile

demo/demobuild/tools/callcounter/Makefile

demo/demobuild/tools/Makefile

demo/llvm-demo/

demo/demobuild/bin/callcounter

demo/demobuild/calls

project1/build/Makefile

project1/build/lib/Makefile

project1/build/lib/callgraphs/Makefile

project1/build/tools/callgrapher/Makefile

project1/build/CMakeFiles/Makefile2

project1/build/CMakeFiles/Progress/2

project1/build/tools/Makefile

*.md

*.py

project1/callgrapher-template-master/test/Makefile

*.cxx

project1/build/CMakeFiles/3.2.2/CompilerIdC/CMakeCCompilerId.c

project1/build/CMakeFiles/3.2.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

demo/demobuild/CMakeFiles/3.2.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

demo/demobuild/CMakeFiles/3.2.2/CompilerIdC/CMakeCCompilerId.c

demo/demobuild/CMakeFiles/feature_tests.c

demo/demobuild/tools/callcounter/config.h

project1/build/bin/callgrapher

project1/build/simple.ll

*.txt

*.ll

project1/build/recursion

project1/callgrapher-template-master/test/c/07-functionpointers.c

project1/backup/CallGraph.h

project1/backup/CallGraph.cpp

project1/callgrapher-template-master/test/c/07-functionpointers.c

project1/callgrapher-template-master/test/c/07-functionpointers.c

project1/callgrapher-template-master/test/c/07-functionpointers.c

project1/callgrapher-template-master/test/c/nocalls.c

project1/callgrapher-template-master/test/c/foo.c

*.gz


project1/Submission

project2/overflower-template/test

project2/build

project2/submission

project2/filepolicy/FilePolicy.cpp

project2/filepolicy/FilePolicy.h

project2/Gohman-AliasAnalysis.pdf

*.pages
